/datafiles/mesh/*
# */pipette_paper.mat 
/code/distmesh/pipette_25_400_300.mat
/code/distmesh/pipette_paper.mat 
datafiles/Simulation-results-old
datafiles/BEM-results/BEM-Flow.mat
datafiles/BEM-results/*
src/bemsolver.egg-info
# datafiles
src/bemsolver/__pycache__
